*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*Because of accessibility we don't want to hard
    code the font-size to 10px. If we do, it overrides
    the browser font to 10px and people who need to
    change the default font-size can't change it. So
    we want to use percentages as default so it can
    scale accordingly. */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/*
BOX MODEL
width
height
padding
border
margin

*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #777; }

.heading-primary {
  color: #FFFFF3;
  margin-bottom: 5rem; }
  .heading-primary--main {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1rem; }
  .heading-primary--sub {
    font-size: 1.6rem;
    font-weight: 300; }

.text-center {
  text-align: center; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: .2rem;
  position: relative;
  font-size: 1.4rem; }

.btn--accent {
  background-color: #A593E0;
  color: #FFFFF3;
  transition: all .3s; }

.btn:hover {
  background-color: #846bd5; }

.feature-box {
  font-size: 1.5rem;
  text-align: center; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #c6bbeb, #846bd5);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; }
  .feature-box__title {
    color: #566270;
    margin-bottom: 1rem; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /*This is an attribute selector. It selects
  all class attributes that equal "col-" in .row */ }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    min-height: .1rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2 *  6rem) / 3); }
  .row .col-1-of-4 {
    width: calc( (100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background: linear-gradient(to bottom, rgba(168, 196, 222, 0.8), #566270), url("../img/super-man-hero.jpg") top;
  background-size: cover;
  position: relative; }
  .header__logo {
    height: 2rem; }
  .header__logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-features {
  padding: 10rem 0; }
